body{
    background-color: #01050e;
    transition: 2s;
}

.book-grid button{
    position: absolute;
    padding: 20px;
    box-shadow: 2px -2px 0 1px #000 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
}

#button-book2{
    transform: rotate(225deg);
}


.titulo{
    display: grid;
    justify-content: center;
    background-color: #01050e ;
    padding-bottom: 1rem;
    transition: 2s;
}

#backimage{
    background-image: url(/Asset/imagens/um-horizonte-da-cidade-a-noite-ilustracao-de-arte-digital-estilo-quadrinhos_783299-544.avif);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    

}


#img-back{
    height: 200px;
    width: 50%;
    margin-top: 0;
    margin-left: 100px;
}


.titulo img{
    height: 60px;
    width: 100%;
    margin-top: .5rem;
    margin-left: 5% 
        
}

.lore{
    color: white;
    padding: 20px 20px;
    
}

#img-book {
    margin-left: 35px;
  }

  .character-buttom{
    display: inline;
    list-style: none;
    margin-right: 20px;
    margin-left: 20px; 
  }

.character-buttom button{
    border-radius: 60px;
    background-color: black
}

  .character-buttom img{
    width: 100%;
    height: 50px;
  }
  
.ani{
    animation: spin 0.5s linear;
}

.backani{
    animation: appear-left 0.5s linear ;
}

.Aniimg{
    animation: fade 3s linear;
}

.book-arrow{
    margin-top: 80px;
    margin-right: 40px;
    margin-left: 30px;
}

#button-book2 {
    left: 320px;
  }
  

.book-grid{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 20px;
}

.book-grid ul{
    margin-top: 0;
    margin-right: 20px;
}

.book-grid img{    
height: 200px;
}

@keyframes spin{
        0% {
            transform: rotate(0);
            opacity: 1;
         }
    
        50% {
        transform: rotate(360deg);
        opacity: 0;
        height: 0;
      }

      100%{
        transform: rotate(0);
        opacity: 1;
      }
    }
    


@keyframes appear-left{
    0%{
        transform: translateX(-500px);
    }


    50%{
        transform: translateX(-250px);
    }

    100%{
        transform: translateX(0px);
    }
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}